{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
{% include "user/nav.html.twig" %}
<section class="container text-center text-marronClaire w-50">
      <h1 class="fw-bolder mt-5">
        Modification du mot de passe
      </h1>
      {% for message in app.flashes('warning') %}
      <div class="alert alert-warning mt-5" role="alert">
        {{ message }}
      </div>
      {% endfor %}
      {{ form_start(mdpForm) }}
        {{ form_row(mdpForm.newPassword) }}
        {{ form_row(mdpForm.password) }}
      <button type="submit" class="btn btn-marronClaire text-sable btn-lg mt-5">
        Modifier
      </button>
      {{ form_end(mdpForm) }}
  </section>
  {% include "user/footer.html.twig" %}
{% endblock %}